@model DfE.CheckPerformanceData.Web.Controllers.ViewModels.EditableContentViewModel

@if (Model.IsEditing)
{
    <form action="/content-block/save" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Key" value="@Model.Key" />
        <input type="hidden" name="BlockType" value="Content" />
        <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />

        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="cb-@Model.Key">Content</label>
            <div class="govuk-hint">You can type directly, use Markdown, or paste formatted text from Word.</div>
            <textarea class="govuk-textarea" id="cb-@Model.Key" name="Value" rows="15">@Model.Value</textarea>
        </div>

        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">Save</button>
            <a href="@(Context.Request.Path)" class="govuk-link">Cancel</a>
        </div>

        @if (Model.HasSavedContent)
        {
            <p class="govuk-body-s">
                <a href="/content-block/versions/@Model.Key" class="govuk-link">Version history</a>
            </p>
        }
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.1/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        (function () {
            'use strict';
            if (typeof tinymce === 'undefined') return;

            tinymce.init({
                selector: '#cb-@Model.Key',
                height: 400,
                menubar: true,
                plugins: 'lists link table code wordcount searchreplace fullscreen',
                toolbar: 'undo redo | styles | bold italic underline strikethrough | alignleft aligncenter alignright | bullist numlist outdent indent | link table | code fullscreen',
                style_formats: [
                    { title: 'Heading 2', block: 'h2' },
                    { title: 'Heading 3', block: 'h3' },
                    { title: 'Heading 4', block: 'h4' },
                    { title: 'Paragraph', block: 'p' }
                ],
                paste_as_text: false,
                paste_merge_formats: true,
                paste_tab_spaces: 4,
                content_css: 'default',
                branding: false,
                promotion: false,
                license_key: 'gpl',
                setup: function (editor) {
                    editor.on('change', function () {
                        editor.save();
                    });
                }
            });
        })();
    </script>
}
else
{
    <div class="content-block content-block--content">
        <div class="wiki-content">
            @Html.Raw(Model.ValueHtml)
        </div>
        <a href="?edit=@Model.Key" class="content-block__edit-link govuk-link">
            <svg class="content-block__edit-icon" width="14" height="14" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                <path d="M11.5 1.5l3 3L5 14l-3.5.5L2 11l9.5-9.5z" fill="none" stroke="currentColor" stroke-width="1.4" stroke-linejoin="round"></path>
                <path d="M9.5 3.5l3 3" fill="none" stroke="currentColor" stroke-width="1.4"></path>
            </svg>
            <span class="govuk-visually-hidden">Edit @Model.Key</span>
        </a>
    </div>
}
