@* @model DfE.CheckPerformanceData.Web.Controllers.ViewModels.SecretViewModel; *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* <h2 class="govuk-heading-m">Hello @Model.UserName of @Model.Organisation.Name</h2> *@
@* *@
@* <dl class="govuk-summary-list"> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">ID</dt> *@
@*         <dd class="govuk-summary-list__value">@Model.Organisation.Id</dd> *@
@*     </div> *@
@*      *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">LAESTAB</dt> *@
@*         <dd class="govuk-summary-list__value">@Model.Organisation.LAESTAB</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Name</dt> *@
@*         <dd class="govuk-summary-list__value">@Model.Organisation.Name</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Legal name</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.LegalName ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">URN</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.Urn ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">UID</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.Uid ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">UPIN</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.Upin ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">UKPRN</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.Ukprn ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Establishment number</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.EstablishmentNumber ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Address</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.Address ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Telephone</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.Telephone ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Statutory age range</dt> *@
@*         <dd class="govuk-summary-list__value"> *@
@*             @if (Model.Organisation.StatutoryLowAge.HasValue && Model.Organisation.StatutoryHighAge.HasValue) *@
@*             { *@
@*                 @($"{Model.Organisation.StatutoryLowAge} to {Model.Organisation.StatutoryHighAge}") *@
@*             } *@
@*             else *@
@*             { *@
@*                 <span>Not provided</span> *@
@*             } *@
@*         </dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Legacy ID</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.LegacyId ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@*     <div class="govuk-summary-list__row"> *@
@*         <dt class="govuk-summary-list__key">Company registration number</dt> *@
@*         <dd class="govuk-summary-list__value">@(Model.Organisation.CompanyRegistrationNumber ?? "Not provided")</dd> *@
@*     </div> *@
@* *@
@* </dl> *@
