@model TicketsViewModel
@using  DfE.CheckPerformanceData.Web.Controllers

<table class="govuk-table govuk-table--small-text-until-tablet">
    <caption class="govuk-table__caption govuk-table__caption--m">Tickets</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">ID</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">DfE Establishment Number</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Assignee</th>
            <th scope="col" class="govuk-table__header">Requested</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Reason for Removal</th>
            <th scope="col" class="govuk-table__header">Decision Status</th>
            <th scope="col" class="govuk-table__header">UPN</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <form method="get">
        @foreach (var item in Model.TicketsResponse.Tickets)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@item.Id</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">@(item.DescriptionStudentDfEEN?.ToString() ?? string.Empty)</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">@(item.AssigneeId?.ToString() ?? " - ")</td>
                <td class="govuk-table__cell">@item.CreatedAt?.ToString("dd MMM")</td>
                <td class="govuk-table__cell-!-width-one-quarter">@item.DescriptionReasonForRemoval</td>
                  @*   <td class="govuk-table__cell">@item.DescriptionOutcome</td>
 *@
                <td class="govuk-table__cell">@item.CustomFieldsOutcome</td>
                <td class="govuk-table__cell">@item.CustomFieldsStudentUPN(Model.TicketFieldsResponse.TicketFields)</td>
                <td>
                    <button asp-action="@nameof(ZendeskController.ViewTicket)" asp-route-id="@item.Id" type="submit" class="govuk-button" data-module="govuk-button">
                        Select
                    </button>
                </td>
            </tr>
        }
        </form>

    </tbody>
</table>

<form method="get">
    <button asp-action="@nameof(ZendeskController.CreateTicket)"  type="submit" class="govuk-button" data-module="govuk-button">
        Create New ticket (from 76218)
    </button>
</form>