
@using DfE.CheckPerformanceData.Web.Controllers
@model GetTicketViewModel
<a asp-action="Index" class="govuk-back-link">Back</a>

<form method="get" asp-action="ViewTicket" asp-route-id="@Model.Ticket.Id">
    <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input"
               id="ShowNullValues"
               name="showNullValues"
               type="checkbox"
               value="true"
        @(ViewBag.ShowNullValues ? "checked" : "")
               onchange="this.form.submit()" />

        <label class="govuk-label govuk-checkboxes__label" for="ShowNullValues">
            Show Null Values
        </label>
    </div>
</form>

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#description">
                Description fields
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tags">
                Tags
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#custom-fields">
                Custom fields
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#notes">
                Notes
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#attachments">
                Attachments
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="description">
        <h2 class="govuk-heading-l">Description</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Field</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                  
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach(var kvp in ViewBag.ShowNullValues ? Model.Ticket.DescriptionFields : Model.Ticket.DescriptionFields.Where( x => x.Value != null))
                {
                    
                
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@kvp.Key</td>
                        <td class="govuk-table__cell">@kvp.Value</td>
                
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tags">
        <h2 class="govuk-heading-l">Tags</h2>
        <p class="govuk-body">In no particular order:</p>
        <ul class="govuk-list govuk-list--bullet">
           @foreach(var tag in Model.Ticket.Tags)
            {
                <li>@tag</li>
            }
        </ul>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="custom-fields">
        <h2 class="govuk-heading-l">Custom Fields</h2>
        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Field</th>
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Value</th>
                  
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var field in ViewBag.ShowNullValues ? Model.Ticket.AllCustomFields : Model.Ticket.AllCustomFields.Where(x => x.Value != null))
                {
                    var fieldMeta = Model.UserFields.FirstOrDefault(x => x.Id == field.Id);
                    var option = fieldMeta?.CustomFieldOptions?
                        .FirstOrDefault(o => o.Value == (string)field.Value);

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@field.Id</td>
                        <td class="govuk-table__cell">
                            @(
                                option?.Name               // dropdown option name
                                ?? fieldMeta?.Title        // field title
                                ?? "(unknown field)"       // fallback
                            )
                        </td>
                        <td class="govuk-table__cell">@field.Value</td>
                    </tr>
                }
            </tbody>

        </table>
 
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="notes">
        <h2 class="govuk-heading-l">Notes</h2>
        @foreach(var comment in Model.Comments)
        {
            <div class="govuk-inset-text">
               
                <p><strong>@comment.AuthorId</strong> (@comment.CreatedAt.ToString("dd MMM yyyy, HH:mm"))</p>
                <p>@Html.Raw(comment.HtmlBody)</p>
            </div>
        }
        
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="attachments">
        <h2 class="govuk-heading-l">Comment Attachments</h2>

        <ul class="govuk-list govuk-list--bullet">
      
       
        @foreach (var comment in Model.Comments)
        @foreach (var attachment in comment.Attachments)
        {
            Console.WriteLine($"File: {attachment.FileName}");
            Console.WriteLine($"Download: {attachment.ContentUrl}");
                    <li>@attachment.FileName <a href="@attachment.ContentUrl">Download attachment</a></li>
        }
        </ul>
        <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="ticketId" value="@Model.Ticket.Id" />
        <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1">
                Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload" name="fileUpload" type="file">
        </div>
            <button type="submit" asp-action="@nameof(ZendeskController.AddAttachment)" class="govuk-button" data-module="govuk-button">
                Upload
            </button>
        </form>
    </div>
</div>